# This is Git's per-user configuration file.
[core]
	editor = vim
	askpass =
[user]
	name = Carlos Meza
	email = carlos@digitalr00ts.com
[push]
	default = simple
[credential]
	helper = cache --timeout=1653400
	# helper = gnome-keyring
[merge]
	tool = vimdiff
	conflictstyle = diff3
[mergetool]
	prompt = false
[diff]
	tool = vimdiff
[difftool]
	prompt = false
[color]
	ui = auto
